apiVersion: v1
kind: ConfigMap
metadata:
{{include "resource.name" . | indent 2}}
{{include "mychart.labels" . | indent 2 }}
{{ include "mychart.app" . | indent 4 }}
{{include "mytemplate" . | indent 4}}
data:
  myvalue: "Hello World"
  {{- $release := .Release.Name }}
  {{- with .Values.favorite }}
  {{- range $key,$val:= .}}
  {{$key}}: {{$val|upper}}
  {{- end}}
  drink: {{ required "Drink is needed." .drink | title }}
  food: {{.food}}
  {{- if eq .drink "coffee" }}
  mug: "true"
  {{- else }}
  mug: "false"
  {{- end }}
  salad: {{$.Values.global.salad}}
  toppings: |-
    {{- range $index, $topping := $.Values.pizzaToppings }}
      - {{$index}}: {{$topping | title | quote }}
    {{- end}}
{{ include "mychart.app" $ | indent 2 }}
  {{- end}}

